extends /layout

block title
    | Admin

block content
    if user == undefined
        .h-100.w-100.d-flex.align-items-center.justify-content-center.text.center.flex-column
            p.fs-4 You must be logged in to use admin tools.
            a.btn.btn-lg.btn-primary(href="/auth/login") Log in
    else
        h1
            if authorised
                | G.allery Editor Tools
            else
                | Admin Tools
        span.mb-2
            | You are logged in as
            img.mx-1.rounded-circle.border.border-dark(src="https://cdn.discordapp.com/avatars/"+user.id+"/"+user.avatar+"?size=20")
            =user.username
            =" "
            a.btn.btn-sm.btn-info(href="/auth/logout") Log out
            | ?
        if !authorised
            p This account is not authorised to use admin tools.
        else
            button.btn.btn-warning.mb-2#genBackup(type="button") Request to Generate Full Gallery Backup
            .progress.w-100.mb-4.d-none#backupProgress(role="progressbar")
                .progress-bar#backupProgressProgress(style="transition: width 0.08s ease-out;width:0%")
            if backupDate != null
                .d-flex.flex-column.align-items-center#dl-backup
                    p Last Backup: #[b#backupDate=backupDate]
                    a.btn.btn-success.mb-4(href="/admin/jellgall-backup.zip") Download Full Gallery Backup (#[span#backupSize=backupSize])
            h2 Entries
            button.btn.btn-lg.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#uploadModal") Upload Entry

            if unlisted.length > 0
                h5.mt-4 Unlisted Entries
                .d-flex.flex-wrap.justify-content-center(style="gap: 1em")
                    each entry in unlisted
                        .card
                            .d-flex.align-items-center(style="gap: 0.2em")
                                img.rounded-start.border-end(src="/thumb/"+entry.filename+".png" style="object-fit: contain; width: 30px; height: 30px;")
                                span.mx-1 #[b #{entry.filename}]#[span.small .#{entry.filetype}]
                                button.btn.btn-sm.btn-secondary.h-100.border-start(type="button" style="border-top-left-radius:0; border-bottom-left-radius:0" onclick="editEntry('"+entry.filename+"')") Edit
                h5.mt-4 Listed Entries
            else
                .mb-3
            input.form-control.mb-2#titleSearch(placeholder="Search by title..." style="max-width:20em")
            .d-flex.flex-wrap.align-items-center.mb-2(style="gap: 0.2em")
                button.btn.btn-secondary.btn-sm#listedPrev(type="button" disabled) < Prev
                span Showing #[span#listedFrom ?]-#[span#listedTo ?] of #[span#listedOf ?].
                button.btn.btn-secondary.btn-sm#listedNext(type="button" disabled) Next >
            table.table
                thead
                    tr
                        th(scope="col") Title
                        th(scope="col") Date
                tbody#listedRows
                    tr#exampleListedRow
                        td(scope="row")
                            button.btn.btn-sm.btn-secondary.me-2(type="button") Edit
                            img.border.me-2(style="object-fit: contain; width: 30px; height: 30px;")
                            span Title
                        td Date
            //-if recent.length == 0
            //-    p no listed entries yet!
            //-each entry in recent
            //-    .card
            //-        .d-flex.align-items-center(style="gap: 0.2em")
            //-            img.rounded-start.border-end(src="/thumb/"+entry.filename+".png" style="object-fit: contain; width: 30px; height: 30px;")
            //-            span.mx-1 #[b #{entry.title}]
            //-            button.btn.btn-sm.btn-secondary.h-100.border-start(type="button" style="border-top-left-radius:0; border-bottom-left-radius:0" onclick="editEntry('"+entry.filename+"')") Edit
            
            h2.mt-4 Tags
            button.btn.btn-lg.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#newTagModal") Add Tag
            //-button.btn.btn-secondary Edit Tag

            h5.mt-4 Recently Created Tags
            .d-flex.flex-wrap.justify-content-center(style="gap: 1em")
                if recentTags.length == 0
                    p no tags yet!
                each tag in recentTags
                    .card
                        .d-flex.align-items-center(style="gap: 0.2em")
                            span.ms-2.me-1= tag.name
                            button.btn.btn-sm.btn-secondary.h-100.border-start(type="button" style="border-top-left-radius:0; border-bottom-left-radius:0" onclick="editTag("+tag.id+")") Edit
            h5.mt-4 All Tags
            p Click a tag to edit it.
            .d-flex.flex-column.align-items-center#allTags
                mixin tagList(type, name)
                    span
                        b= name
                        = ": "
                        != allTags.filter(t => t.t == type).map(t => '<a href="#" title="'+t.i+'" onclick="editTag('+t.i+');event.preventDefault();")>'+t.n+'</a>').join(', ')
                +tagList(0, "Generic")
                +tagList(1, "Author")
                +tagList(2, "Character")
                +tagList(3, "Arc")

            .modal.fade#uploadModal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h1.modal-title.fs-5 Upload New Entry
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                        .modal-body
                            .d-flex.flex-column.align-items-center.justify-content-center.w-100#entryDisplay
                                input.form-control#entryFile(type="file")
                                img.mw-100.d-none.border#entryImageDisplay
                                audio.w-100.border.d-none#entryAudioPreview(controls)
                                    source#entryAudioPreviewSource
                                video.border.mw-100.d-none.mb-2#entryVideoDisplay(controls)
                                    source#entryVideoDisplaySource
                                span.small.text-secondary.d-none#entryVideoThumbnailTitle Thumbnail (drag video controller to change):
                                span.small.text-secondary.d-none#entryGIFThumbnailTitle Thumbnail (frame #[input#entryGIFFramePicker(type="number" style="width: 4em;" min=0)]):
                                img.d-block.d-none.border#entryThumbnailDisplay(title="Generated Thumbnail" style="max-width: 50%;")
                            .d-none#entryDetailsChoice
                                .input-group.mb-4
                                    input.form-control#entryFilename(type="text" placeholder="Filename" style="width: 12em")
                                    span.input-group-text#entryFileExtension
                                span.small.text-secondary
                                    | Filenames must be unique. Extension is not taken into account, for example a file named "jelly.png" and "jelly.mp4" cannot both exist.
                                    hr
                                    | Uploading a GIF or a video file shows a thumbnail generator. Make sure it's set to an adequate frame, as this cannot be changed later without deleting and re-creating the entry.
                                    hr
                                    | After uploading a file, it's added to the database as "unlisted". From the G.allery Editor you can edit the entry's title, date, tags, and description (if applicable). When editing an entry, make sure you tick the item as "Listed" if it's ready to be published.
                        .modal-footer
                            span.text-danger#uploadErrorText
                            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                            .spinner-border.text-secondary.d-none#uploadingStatus(role="status")
                            button.btn.btn-primary#uploadEntryButton(type="button" disabled) Upload

            .modal.fade#newTagModal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h1.modal-title.fs-5 Create New Tag
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                        .modal-body
                            select.form-select.mb-2#newTagType
                                option(value="" disabled selected) Tag Type
                                option(value="0") Generic
                                option(value="1") Author
                                option(value="2") Character
                                option(value="3") Arc
                                option(value="4") Content Type
                            input.form-control.w-100#newTagName(placeholder="Tag Title")
                            br
                            span.small.text-secondary
                                | Tags can be edited after being created to add a description.
                        .modal-footer
                            span.text-danger#createTagErrorText
                            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                            .spinner-border.text-secondary.d-none#createTagStatus(role="status")
                            button.btn.btn-primary#createTagButton(type="button" disabled) Create

            .modal.fade.modal-xl#editEntryModal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h1.modal-title.fs-5 Edit Entry
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                        .modal-body
                            img.mw-100.mh-100.d-none.border#entryEditImageDisplay
                            audio.w-100.border.d-none#entryEditAudioPreview(controls)
                                source#entryEditAudioPreviewSource
                            video.border.mw-100.mh-100.d-none.mb-2#entryEditVideoDisplay(controls)
                                source#entryEditVideoDisplaySource
                            .border.mw-100.d-none.mb-2#entryEditFileDisplay
                                span Filetype not recognised #[a.btn.btn-sm.btn-primary#entryEditFileDownload(target="_blank") Download file]
                            .mb-3
                                label.form-label(for="entryEditFilename") Filename
                                .input-group
                                    input.form-control#entryEditFilename(type="text" style="width: 12em")
                                    span.input-group-text#entryEditFileExtension
                                .form-text
                                    | Be wary when changing an entry's filename, as any external links to it will break.
                                    br
                                    | Filenames must be unique. Extension is not taken into account, for example a file named "jelly.png" and "jelly.mp4" cannot both exist.
                            .form-check.form-switch.mb-3
                                input.form-check-input#entryEditListed(type="checkbox")
                                label.form-check-label(for="entryEditListed") Is this entry listed?
                                .form-text Listed entries can be found on the gallery's entry browser page. Files of entries that aren't listed can still be found by those who know its filename.
                            .mb-3
                                label.form-label(for="entryEditTitle") Title
                                input.form-control#entryEditTitle(type="text")
                            .mb-3
                                label.form-label(for="entryEditDate") Date
                                input.form-control#entryEditDate(type="text")
                                .form-text When was this file originally published?
                            .mb-3
                                label.form-label(for="entryEditDesc") Description
                                textarea.form-control#entryEditDesc.mb-2
                                .form-text#entryEditDescPreview
                                hr
                                .form-text
                                    a(href="https://github.com/showdownjs/showdown/wiki/Showdown%27s-Markdown-syntax" target="_blank") Markdown you can use.
                                    br
                                    | Avoid using the largest heading as the entry's title will e displayed at this size above its description.
                                    br
                                    | If you want to link to a page on this site (e.g. another entry) you need not supply the entire URL e.g. [link title](/e/entryname) will take you to https://THIS.SITE/e/entryname.
                            .mb-3
                                label.form-label(for="entryEditTags") Tags
                                input.form-control#entryEditTags(type="text")
                                .form-text#editTagDisplay Selected tags will appear here. Select a tag to begin.
                            .d-flex.flex-column#tagAdder
                            span.small.text-secondary
                                | Tags will appear to users in the order you provide within their respective groups. For example, "Generic2,Author3,Generic4,Author1,Character1" will show up as "Characters: Character1", "Tags: Generic2,Generic3" and "by Author3 & Author1".
                        .modal-footer
                            span.text-danger#editEntryErrorText
                            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                            .spinner-border.text-secondary.d-none#editEntryStatus(role="status")
                            button.btn.btn-danger#deleteEntryButton(type="button") Delete
                            button.btn.btn-primary#editEntryButton(type="button") Save

            .modal.fade#deleteEntryModal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h1.modal-title.fs-5 Deleting Entry!
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                        .modal-body
                            span Are you sure you want to delete the entry "#[span#deleteEntryName]"? All external links to this file will be broken until another file is created with the same filename.
                        .modal-footer
                            span.text-danger#deleteEntryErrorText
                            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                            .spinner-border.text-secondary.d-none#deleteEntryStatus(role="status")
                            button.btn.btn-danger#deleteEntryConfirm(type="button") Do it!!

            .modal.fade.modal-lg#editTagModal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h1.modal-title.fs-5 Edit Tag
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                        .modal-body
                            select.form-select.mb-2#editTagType
                                option(value="" disabled selected) Tag Type
                                option(value="0") Generic
                                option(value="1") Author
                                option(value="2") Character
                                option(value="3") Arc
                                option(value="4") Content Type
                            input.form-control.w-100.mb-2#editTagName(placeholder="Tag Title")
                            textarea.form-control.w-100#editTagDesc(placeholder="Description")
                            br
                            span.small.text-secondary
                                | Tag descriptions should be short (one or two lines) since they are shown as a popover on the filter buttons in the entries page. Unlike entries, tags' descriptions cannot have formatting.
                        .modal-footer
                            span.text-danger#editTagErrorText
                            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                            button.btn.btn-danger#deleteTagButton(type="button") Delete
                            .spinner-border.text-secondary.d-none#editTagStatus(role="status")
                            button.btn.btn-primary#editTagButton(type="button") Save

            .modal.fade#deleteTagModal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h1.modal-title.fs-5 Deleting Tag!
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                        .modal-body
                            span Are you sure you want to delete the tag "#[span#deleteTagName]"? All entries with this tag will no longer have it.
                        .modal-footer
                            span.text-danger#deleteTagErrorText
                            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                            .spinner-border.text-secondary.d-none#deleteTagStatus(role="status")
                            button.btn.btn-danger#deleteTagConfirm(type="button") Do it!!
        
append js
    script(src="https://unpkg.com/omggif@1.0.10/omggif.js")
    script(src="https://unpkg.com/showdown@2.1.0/dist/showdown.min.js")
    script(src="https://unpkg.com/dompurify@3.3.1/dist/purify.min.js")
    script(type="module" src="/js/admin.js")